:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

/*header  kısmı */
body {
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
}

.hero {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  margin-right: 76px;
}

img {
  display: block;
}

.nav-list-menu {
  display: flex;
  gap: 40px;
}

.nav-list-menu .menu {
  padding: 24px 0;
}

.addres-header .addres-list {
  display: flex;
  gap: 40px;
}

.addres-list {
  display: flex;
  gap: 40px;
}

.addres-header .header-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.nav-menu {
  display: flex;
  align-items: center;
}

.header-span {
  color: var(--navy-blue);
}

.menu {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.menu:hover .menu:focus {
  color: #404bbf;
}

.adres-iletisim {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.adres-iletisim:hover .adres-iletisim:focus {
  color: #404bbf;
}

/* ilk section  */
.section-bir {
  background: var(--navy-blue);
  width: 1440px;
  height: 600px;
  padding: 188px 0;
}

.section-bir-baslik {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  max-width: 496px;
}

.section-bir-button {
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}

/* section iki */

.section-iki {
  padding: 120px 0;
}

.visually-hidden {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  overflow: hidden;
}

.section-iki-list {
  width: calc((100% - 72px) / 4);
  list-style-type: none;
}

.visually-hidden-list {
  display: flex;
  gap: 24px;
}

.section-iki-baslik {
  margin-bottom: 8px;
}

.section-iki-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Our team alanı-section üç */
.section-three {
  padding: 120px 0;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team {
  margin-bottom: 72px;
}

.our-div {
  padding: 32px 0;
}

.our-team-listeler {
  width: calc((100% - 72px) / 4);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.our-team-img {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.our-team-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

section.our-team {
  background: var(--cloud);
  width: 1440px;
  height: 732px;
}

/* our portfolio bölümü */

.our-portfoli {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.our-portfolio-baslik {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.our-portfolio-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Footer alanı */

.logo-footer-span {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}

.logo-footer {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

footer {
  background: var(--navy-blue);
  width: 1440px;
  height: 312px;
}

.footer-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
